<div class="menu">
 <div class="container">
 <ul class="nav nav-tabs pull-left">
  <li><%= link_to "Welcome", :root %></li>
  <li><%= link_to "Portfolio", :portfolio %></li>
  <li><%= link_to "Blog", "https://medium.com/" %></li>
  <li class="active"><%= link_to "About", :about %></li>
  <li><%= link_to "Contact", :contact %></li>
 </ul>
 </div>
</div>

<div class="about">
  <div class="container">
    <img src="https://pbs.twimg.com/profile_images/1648963330/SmileDerpBlackSS.png">
    <h2>I'm derping RoR apps!1</h2>
  </div>
</div>


