<div class="menu">
 <div class="container">
 <ul class="nav nav-tabs pull-left">
  <li><%= link_to "Welcome", :root %></li>
  <li class="active"><%= link_to "Portfolio", :portfolio %></li>
  <li><%= link_to "Blog", "https://medium.com/" %></li>
  <li><%= link_to "About", :about %></li>
  <li><%= link_to "Contact", :contact %></li>
 </ul>
 </div>
</div>

<div class="main">
 <div class="container">
   
   <!--<script src="//code.jquery.com/jquery-latest.min.js"></script>
	 <script src="//unslider.com/unslider.min.js"></script>-->
   
   <!-- <%= javascript_include_tag "unslider" %> -->
   
   <div class="banner">
      <ul>        				
        <li><img src="https://photos-6.dropbox.com/t/2/AABxW4BOGjHjtfKqG-sKcAP9Nq8rHxvQh2zbC2oWM1kOTw/12/427938538/jpeg/32x32/1/_/1/2/bass-music-1.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/eGy1Pq-YQFKIS5rq_TREE8rvnBec4lV1tNQj9ad-Z20?size=1024x768&size_mode=2"></li>
        <li><img src="https://photos-1.dropbox.com/t/2/AACESlJhRZUB4EgZuPTsr_0dho0I-o0Ds1rJ785RukhDMQ/12/427938538/jpeg/32x32/1/_/1/2/blt-nt-scr-3.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/ZflUsuIo3k5APkr19JkWJPCo7W8N2D0GlFJ2ZosmaxM?size=1024x768&size_mode=2"></li>
        <li><img src="https://photos-1.dropbox.com/t/2/AACGnMMsaKwI8JPcs6vf-418dSuPfP0MRE8gcox0-evlCA/12/427938538/jpeg/32x32/1/_/1/2/bookmarks-2.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/CvwFZHlQpFdLvhP0QvsoMmXhuzkkfh55RQRIYPr7z50?size=1024x768&size_mode=2"></li>
      </ul>
   </div>
 		<script>
     $(function() {
    		$('.banner').unslider({
          dots: true,
          delay: 3000,
          speed: 1000
        });
		 });
   </script>
   
 </div>
</div>

<div class="supporting">
  <div class="container">
    
    <div class="app">
      <h2>Bolt Network</h2>
      <div class="row">
       <div class="col-md-4">
      	<a href="https://bolt-network-rails.herokuapp.com/" class="thumbnail">
      	 <img src="https://photos-5.dropbox.com/t/2/AABxXVcFrmJe_5woCddcns3S5VKRTDWtosI9ws0tvatMAA/12/427938538/jpeg/32x32/1/_/1/2/blt-nt-scr-1.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/EaKX329L5Os0pnKxbkwxF-kK12OcVSec2ZJkDo6twPo?size=1024x768&size_mode=2">
    	  </a>
       </div>
       <div class="col-md-4">
    	  <a href="https://bolt-network-rails.herokuapp.com/" class="thumbnail">
 	     	 <img src="https://photos-3.dropbox.com/t/2/AADGG1efTN2qPHbTyFkJBYg50w8Vii_m9v0fqFrBRYrasg/12/427938538/jpeg/32x32/1/_/1/2/blt-nt-scr-2.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/jIl-pHwTXQR_oXzEIORfDJYTZ80kPgHBNYmlslMu4CU?size=1024x768&size_mode=2">
  	    </a>
       </div>
       <div class="col-md-4">
      	<a href="https://bolt-network-rails.herokuapp.com/" class="thumbnail">
  	     <img src="https://photos-1.dropbox.com/t/2/AACESlJhRZUB4EgZuPTsr_0dho0I-o0Ds1rJ785RukhDMQ/12/427938538/jpeg/32x32/1/_/1/2/blt-nt-scr-3.JPG/COqlh8wBIAEgAiADIAQgBSAGIAcoAg/ZflUsuIo3k5APkr19JkWJPCo7W8N2D0GlFJ2ZosmaxM?size=1024x768&size_mode=2">
        </a>
       </div> 
      </div>
      <h3>Rails app with a Home page and an About page.</h3>
     	<a href="https://bolt-network-rails.herokuapp.com/">View app</a>
    </div>
    
  </div>
</div>