<div class="menu">
 <div class="container">
 <ul class="nav nav-tabs pull-left">
  <li class="active"><%= link_to "Welcome", :root %></li>
  <li><%= link_to "Portfolio", :portfolio %></li>
  <li><%= link_to "Blog", "https://medium.com/" %></li>
  <li><%= link_to "About", :about %></li>
  <li><%= link_to "Contact", :contact %></li>
 </ul>
 </div>
</div>

<div class="main">
 <div class="container">
  <div class="jumbotron">
   <h1>I'm making awesome RoR apps!</h1>
    <%= link_to :portfolio do %> 
   <div class="btn btn-primary">View my work</div>
    <% end %>
  </div>
 </div>
</div>

